name: Basic CI Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run app (sanity check)
        run: |
          python app.py &
          sleep 5
          pkill -f app.py

      - name: Build Docker image
        run: docker build -t vuln-app:latest .

      - name: Run Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          format: 'json'
          output: 'output.json'
          scan-ref: '.'

      - name: Upload results to AccuKnox
        run: |
          curl -v -X POST "https://cspm.${{ secrets.ACCUKNOX_ENDPOINT }}/api/v1/artifact/?data_type=TR&label_id=${{ secrets.ACCUKNOX_LABEL }}&save_to_s3=true" \
            -H "Authorization: Bearer ${{ secrets.ACCUKNOX_TOKEN }}" \
            --form 'file=@"./output.json"'

